// Specific CSS for your home-page
.home-title {
  font-size: 36px;
  font-weight: 900;
  margin: auto;
  margin-top: 350px;
  text-align: center;
  font-family: $headers-font;
  color: $peach;
}

p {
  font-family: $headers-font;
  font-size: 18px;
  font-weight: 700;
}
