<div class= "wrapper">
  <img src="https://res.cloudinary.com/duufhyqzx/image/upload/v1679159442/blurry-gradient-haikei_xerl7v.png" alt="background" height= "775px">
  <img src="https://res.cloudinary.com/duufhyqzx/image/upload/v1679159462/Capybara_logo_3_-PhotoRoom_rytqnk_1_jvy2b4.png" alt="" id="logo">
  <div class="btn">
    <%=  link_to "Get Started", new_user_session_path, :class => "home_button" %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "logout_button"%>
  </div>
</div>
