<<<<<<< HEAD
<h1>CapyBara</h1>
<p>Meet like-minded people</p>
=======
<div class="home-title">
  <h1>CAPYBARA</h1>
  <p>Meet like-minded people</p>
</div>
>>>>>>> 75f029563ddf74001e606a271f9b333115733b6b
