<div class= "container">
  <img src="https://res.cloudinary.com/dfmu5zwaj/image/upload/v1679136242/blurry-gradient-haikei_divpaz.png" alt="background">
  <img src="https://res.cloudinary.com/dfmu5zwaj/image/upload/v1679136903/Capybara_logo_3_-PhotoRoom_rytqnk.png" alt="" id="logo">
  <div class="btn">
  <%=  link_to "Get Started", new_user_session_path %>
  </div>


</div>
