<div class= "wrapper">
  <img src="https://res.cloudinary.com/dfmu5zwaj/image/upload/v1679136242/blurry-gradient-haikei_divpaz.png" alt="background" height= "775px">
  <img src="https://res.cloudinary.com/dfmu5zwaj/image/upload/v1679136903/Capybara_logo_3_-PhotoRoom_rytqnk.png" alt="" id="logo">
  <div class="btn">
    <%=  link_to "Get Started", new_user_session_path, :class => "home_button" %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "logout_button"%>
  </div>
</div>
