.chatroom {
  background-image: url(https://res.cloudinary.com/dfmu5zwaj/image/upload/v1679136242/blurry-gradient-haikei_divpaz.png);
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: calc(100vh - 175px);
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid;
    padding: 1rem;
    flex-direction: column;
    align-items: end;

    .form-group {
      margin-bottom: 0;
    }
  }

  .message_content {
    width: 100%;
  }

  .msg-colour {
    color: $peach;
  }

  .text-right {
    text-align: right;
    padding-left: 3%;
    margin-bottom: 10px;
    background-color: rgb(90, 130, 120);
    color: white;
    width: fit-content;
    box-shadow: 0 8px 6px -6px black;
    margin-left: 40%;
    padding-right: 11%;
    }

  .text-left {
    text-align: left;
    // position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    background-color: rgb(75, 120, 134);
    color: white;
    width: fit-content;
    padding-right: 40px;
    box-shadow: 0 8px 6px -6px black;


  }



}
