.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  font-family: "Open Sans", sans-serif;
}

.window {
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
