<<<<<<< HEAD
.btn-outline-primary {
  background-color: #b726e0;
  background-image: none;
  border-color: #b726e0;
=======
.button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.rounded_circle {
  border-radius: 50%;
  padding: 30px;
>>>>>>> 3a51f367a909ea040d6049ae8e30d10854d36035
}
