body {
  background-image: url("https://res.cloudinary.com/duufhyqzx/image/upload/v1679159442/blurry-gradient-haikei_xerl7v.png");
  background-repeat: no-repeat;
  height: 100%;
}


.search-form{
  color: white;
  padding: 10px 20px;
  margin: 24px 30px;
  border-radius: 6px;
  font-size: 18px;
  font-family: $body-font;

  .form-actions {
    margin-top: 24px;
  }

  .search-btn {
    width: 100%;
    // border-radius: 20px;
  }

  .btn-primary {
    margin-bottom: 8px;
  }
}

.form-select {
  padding: 0;
  background-color: white;
}

.form-control {
  background-color: white;
  color: white;
}

.form-actions a {
  width: 100%;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl {
  max-width: none;
  width: 100%;
  height: 36px;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: white;
}
