.search-form {
  color: $white;
  list-style-type: none;
  margin: 70px;
  align-items: center;
  line-height: 32px;
  text-align: center;
}

.search-form-btn {
  margin-top: 12px;
  text-align: center;
}
