.search-form{
  color: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  font-size: 18px;
  margin-bottom: 30px;
  font-family: $headers-font;
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.form-select {
  padding: 0;
  background-color: white;
}

.form-control {
  color: white;
}

.form-select {
  padding: 0;
  background-color: white;
}

.form-control {
  color: white;
}
